@use "sass:map";

$root-font-size: 16px !default;

$breakpoints: (
  small: 0px,
  medium: 820px,
  large: 1220px,
  huge: 1872px,
  enormous: 2140px,
) !default;

$vbreakpoints: (
  small: 0px,
  medium: 800px,
  large: 1000px,
) !default;

$grid: (
  small: (
    columns: (3, 4, 5, 6, 8),
    offsets: (2, 3, 6),
  ),
  medium: (
    columns: (2, 3, 4, 6, 8, 9, 10, 12),
    offsets: (1, 2, 3, 4, 5, 6, 8),
  ),
  large: (
    columns: (1, 3, 4, 5, 6, 7, 8, 10, 12),
    offsets: (1, 2, 3, 4, 6, 8, 10),
  ),
  huge: (
    columns: (4, 6, 8, 10, 12),
    offsets: (2, 4, 6, 8),
  ),
) !default;

$column-count: 12 !default;
$column-gutter: 84px !default;

$global-width: map.get($breakpoints, large) !default;
$row-width: $global-width !default;

$radii: (
  xsmall: 0rem,
  small: 0.1rem,
  base: 0.1rem,
  large: 0.3rem,
) !default;

$spacers: (
  0: 0rem,
  2: 0.6rem,
  4: 0.8rem,
  6: 1rem,
  7: 1.4rem,
  8: 2rem,
  12: 3.4rem,
  24: 4.8rem,
) !default;

$borders: (
  0: 0,
  2: 2px,
) !default;

$type-base: (
  small: 3.8vw,
  medium: 2vw,
  large: 1.4vw,
  huge: 1.3vw,
) !default;

$type-ratio: (
  small: 1.26,
  medium: 1.5,
  large: 1.6,
  huge: 1.575,
) !default;

$heading-weight: 900 !default;

$fonts: (
  primary: ("IBM Plex Mono", Helvetica, Arial, sans-serif),
  accent: ("Monument", Helvetica, Arial, sans-serif),
  monospace: ("IBM Plex Mono", monospace, sans-serif),
  heading: ("Monument", Helvetica, Arial, sans-serif),
) !default;

$helpers: (
  default: #fe5d84,
  primary: #03080a,
  secondary: #ffffff,
) !default;

$color-steps: (
  lighter: (
    lightness: 20%,
    saturation: -6%,
  ),
  light: (
    lightness: 10%,
    saturation: -4%,
  ),
  dark: (
    lightness: -12%,
    saturation: -4%,
  ),
  darker: (
    lightness: -24%,
    saturation: -6%,
  ),
  contrast: (
    lightness: 50%,
    saturation: -12%,
  ),
) !default;

$utility-directions: (x, y, block, inline, top, right, bottom, left) !default;

$container-widths: (
  full: 100%,
  default: map.get($breakpoints, large),
  narrow: 48rem,
  readable: 72ch,
) !default;

$stack-default-gap: map.get($spacers, 6) !default;
$cluster-default-gap: map.get($spacers, 6) !default;
$cluster-align: center !default;

$fluid-min-vw: map.get($breakpoints, small) !default;
$fluid-max-vw: map.get($breakpoints, large) !default;
