@use "sass:map";
@use "sass:math";
@use "sass:meta";

@use "config" as config;
@use "functions" as fn;

@function _container-width($size) {
  @if map.has-key(config.$container-widths, $size) {
    $value: map.get(config.$container-widths, $size);
    @if meta.type-of($value) == "number" and math.is-unitless($value) {
      @return fn.rem-calc($value);
    }
    @if meta.type-of($value) == "number" and math.compatible($value, 1px) {
      @return fn.rem-calc($value);
    }
    @return $value;
  }

  @return $size;
}

@mixin container($size: default, $align: center, $padding: fn.rem-calc(math.div(config.$column-gutter, 2))) {
  width: 100%;
  max-width: _container-width($size);
  margin-left: if($align == left, 0, auto);
  margin-right: if($align == right, 0, auto);
  padding-left: $padding;
  padding-right: $padding;
}

@mixin stack($gap: config.$stack-default-gap, $selector: '> * + *') {
  display: flex;
  flex-direction: column;
  gap: $gap;

  #{$selector} {
    margin-top: 0;
  }
}

@mixin cluster($gap: config.$cluster-default-gap, $align: config.$cluster-align) {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  justify-content: $align;
  align-items: center;
}

@mixin auto-grid($min: 16rem, $gap: config.$stack-default-gap) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
  gap: $gap;
}

@mixin bleed($amount) {
  margin-left: -$amount;
  margin-right: -$amount;
}
