// ====================================
// PRINT
// ====================================

@media print {
  a:link,
  a:visited {
    text-decoration: underline !important;

    &.header__site-link {
      text-decoration: none !important;
    }
  }

  #content {
    a[href]::after {
      content: " (" attr(href) ")";
      font-weight: normal;
    }

    a[href^='javascript:']::after,
    a[href^='#']::after {
      content: "";
    }

    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  }

  #content {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  body,
  #page,
  #main,
  #content {
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

  #skip-link,
  #toolbar,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons,
  #nav-primary,
  #nav-secondary,
  #sidebar,
  #footer-wrapper,
  .edit-link,
  #devmode {
    display: none !important;
    visibility: hidden !important;
  }
}
